@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #eee;
    font-family: "Roboto", sans-serif;
    /* pour le scrollbar sur Firefox */
    scrollbar-width: 9px;
    scrollbar-color: red;
  }

  .specially {
    font-family: "Times New Roman", serif;
  }
  /* Pour le composant Modal du change language */
  .bg-modal {
    background-color: rgba(77, 61, 61, 0.5);
  }

  /* Enlevé le scroll lorsqu'une popup s'ouvre */
  .overflow-hidden {
    overflow: hidden;
  }

  /* Pour le composant ChangeLanguage */
  .box-shadow-change-language {
    box-shadow:
      rgba(224, 143, 143, 0.1) 0px 1px 1px 0px inset,
      rgba(143, 94, 94, 0.25) 0px 50px 100px -20px,
      rgba(240, 50, 50, 0.3) 0px 30px 60px -30px;
  }

  /* Pour le background du banner */
  .bg-banner-url {
    background: url("../images/home/bg-banner.avif") no-repeat center
      center/cover;
  }

  /* Pour les titres (jours) des dayItem pour les centrer pile au milieu en absolute */

  /* en francais */
  .center-absolute-tuesday-fr {
    left: calc(50% - 44.09px / 2);
  }

  .center-absolute-wednesday-fr {
    left: calc(50% - 68.52px / 2);
  }

  .center-absolute-friday-fr {
    left: calc(50% - 69.33px / 2);
  }

  .center-absolute-saturday-fr {
    left: calc(50% - 55.78px / 2);
  }

  .center-absolute-sunday-fr {
    left: calc(50% - 75.25px / 2);
  }

  /* en anglais */
  .center-absolute-tuesday-en {
    left: calc(50% - 62.31px / 2);
  }

  .center-absolute-wednesday-en {
    left: calc(50% - 87.23px / 2);
  }

  .center-absolute-friday-en {
    left: calc(50% - 47.3px / 2);
  }

  .center-absolute-saturday-en {
    left: calc(50% - 68.53px / 2);
  }

  .center-absolute-sunday-en {
    left: calc(50% - 55.22px / 2);
  }

  /* Pour le titre du composant Error Element */
  .error-elem-text-fill {
    background: linear-gradient(
      200deg,
      rgb(244, 21, 21) 0%,
      rgb(60, 40, 40) 63%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* scroll bar sur Chrome et Safari */
  ::-webkit-scrollbar {
    width: 9px;
    background-color: #111;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: rgb(58, 61, 58);
  }
}
